/*
*
*	C4 INITIAL –  blank theme for CONTAO CMS
*
*	author	Dinko Skopljak
*	web		https://futura-web.de
*	email	ds@futura-web.de
*
*	powered by SCSS https://sass-lang.com/
*/

/* ----------------------------------------------- VARS BUTTONS ----- */

$colorButton: $black;
$bgButton: $colorWhite;
$borderButton: .1875rem solid $colorBorder;

$colorButtonHover: $white;
$bgButtonHover: $black;
//$colorButtonBorderHover: $colorBlack;
