/*
*
*	C4 INITIAL –  blank theme for CONTAO CMS
*
*	author	Dinko Skopljak
*	web		https://futura-web.de
*	email	ds@futura-web.de
*
*	powered by SCSS https://sass-lang.com/
*/

/* ----------------------------------------------- VARS CONTENT ----- */

$bgBody: $white;

$widthMain: 84.2105%;
$widthMainMax: 1140px;
$widthMain: inherit;
$widthMainMax: inherit;

$contentSpace: $spaceBasic;

/* ----------------------------------------------- VARS CONTAINER SPACE TOP ----- */

$containerSpaceTop: 5rem;
