/*
*
*	C4 INITIAL –  blank theme for CONTAO CMS
*
*	author	Dinko Skopljak
*	web		https://futura-web.de
*	email	ds@futura-web.de
*
*	powered by SCSS https://sass-lang.com/
*/

/* ----------------------------------------------- VARS FOOTER ----- */

$colorFooter: $black;
$bgFooter: $transpa;

$footerSpacer: 0/* #{$basicSpace / 2}*/;

$colorFooterButton: $white;
$bgFooterButton: $black;

$colorFooterButtonHover: $black;
$bgFooterButtonHover: $white;
