/*
*
*	C4 INITIAL –  blank theme for CONTAO CMS
*
*	author	Dinko Skopljak
*	web		https://futura-web.de
*	email	ds@futura-web.de
*
*	powered by SCSS https://sass-lang.com/
*/

/* ------------------------------------ VARS HEADINGS ----- */

$colorH: $black;

$sizeH1: initial;
$sizeH2: initial;
$sizeH3: initial;
$sizeH4: initial;
$sizeH5: initial;
$sizeH6: initial;

$lineHeightH: initial;

$marginH: $spaceBasic;

$marginH1: $spaceBasic;
$marginH2: $spaceBasic;
$marginH3: $spaceBasic;
$marginH4: $spaceBasic;
$marginH5: $spaceBasic;
$marginH6: $spaceBasic;
