/* --------------------------------------------------------- HAMBURGER ELASTIC ----- */

.hamburger--elastic{

  .hamburger-inner {
    top: 2px;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before{
      top: 10px;
      transition: opacity 0.15s 0.4s ease;
    }

    &::after {
      top: 20px;
      transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &.active{

    .hamburger-inner{
      -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
              transform: translate3d(0, 10px, 0) rotate(135deg);
      transition-delay: 0.1s;

      &::before{
      transition-delay: 0s;
      opacity: 0;
      }

      &::after{
        -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
                transform: translate3d(0, -20px, 0) rotate(-270deg);
        transition-delay: 0.1s;
      }
    }
  }
}