
/* --------------------------------------------------------- FLEXIBLE BACKGROUNDS ----- */

[class*="bg_"] {
	position: relative;
	overflow: visible;

    &::after {
        content: "";
        width: calc(100vw + 2px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(calc(-50% - 1px));
        z-index: -1;
    }
}