/*
*
*	C4 INITIAL –  blank theme for CONTAO CMS
*
*	author	Dinko Skopljak
*	web		https://futura-web.de
*	email	ds@futura-web.de
*
*	powered by SCSS https://sass-lang.com/
*
*/

/* --------------------------------------------------------- PARALLAX SINGLE IMAGE ----- */

    &.parallax_single_img {
        height: 50vh;
        min-height: inherit;

        .image_container {
            transition: transform linear .15s;
        }

        img{
            top: 0;
            transform: translateX(-50%);
            opacity: 0;
            
            &.done{
                opacity: 1;
                transition: all .2s cubic-bezier(.4,-0.20,.65,1.5) .15s;
            }
        }

        .js_off &{

            img{
                opacity: 1;
            }
        }
    }

/* --------------------------------------------------------- PARALLAX SINGLE IMAGE END ----- */
