/*
*
*	C4 INITIAL –  blank theme for CONTAO CMS
*
*	author	Dinko Skopljak
*	web		https://futura-web.de
*	email	ds@futura-web.de
*
*	powered by SCSS https://sass-lang.com/
*
*/

/* --------------------------------------------------------- CSS RESET ----- */

body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, ul, ol, dl, dt, dd, figure, table, th, td, form, fieldset, legend, input, textarea{
	padding:0;
	margin:0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

header, footer, nav, section, aside, article, figure, figcaption, picture, svg{
	display:block;
}

iframe{
	border: 0;
}

figure, picture{
	line-height: .8;
}

a, img, fieldset{
	border: 0;
}

a{

	img{
		display: block;
	}
}

img{
	max-width: 100%;
	height: auto;
}
